<mat-sidenav-container class="block-body h-100">
  <mat-sidenav #drawer opened
               class="sidenav border-right p-2"
               position="start"
               mode="side">
    <div class="side-wrapper h-100">
      <div class="d-flex flex-column justify-content-center align-items-center p-1">
        <div class="input-group mb-2">
          <input type="text" class="form-control" placeholder="find beyo.." aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <button mat-flat-button class="search btn btn-warning" type="button"></button>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center p-1">
        <div class="drop mb-2"></div>
        <div class="option btn-group mb-2" role="group" aria-label="Basic example">
          <button mat-flat-button (click)="addElement()" type="button" class="btn album" matTooltip="albums"></button>
          <button mat-flat-button matTooltip="bookmarks" type="button" class="btn bookmarks"></button>
          <button mat-flat-button matTooltip="configure" type="button" class="btn gear"></button>
        </div>
        <div class="d-flex">
          <mat-card class="p-1 w-100 mr-1">
            <div class="d-flex w-100" (click)="openDialog()">
              <img mat-card-sm-image
                   class="profile-avatar mr-2"
                   src="https://api.adorable.io/avatars/285/abott@adorable.png">
              <mat-card-content class="d-flex flex-column w-100 mb-0 justify-content-around pr-1">
                <span class="text-capitalize align-self-end">logged in as</span>
                <span class="text-muted align-self-end">avatar/name</span>
              </mat-card-content>
            </div>
          </mat-card>
          <button mat-stroked-button matTooltip="logout" type="button" class="btn logout"></button>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <section class="h-100" (dblclick)="drawer.toggle()">
    <div #dynamic class=""></div>
</section>
</mat-sidenav-container>
