<div class="d-flex flex-column h-100 p-3">
  <div class="d-flex flex-column justify-content-between mb-3 align-items-start p-4 h-25">
    <button routerLink = "/" class = "btn btn-secondary align-self-start">Go Back</button>
    <h3 class=" title">Album {{albumId}}</h3>
  </div>
    <div class = "row overflow-auto p-3">
            <div class="col-md-3 photo" *ngFor="let photo of photos | async">
                <img src = {{photo.url}} class = "img-fluid" />
            </div>
    </div>
</div>

