@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

*{
  -webkit-user-select: none;
  /* Safari */ -ms-user-select: none;
  /* IE 10+ and Edge */ user-select: none;
}

.title{font-size: 1.5rem;font-family: 'Comfortaa', cursive;}
.sidenav{width: 24vw;}
.side-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-avatar{
  border-radius: 5px;
  height: 3rem;
  width: 3rem;
}

p > span{
  font-size: .76rem;
  margin-left: .2rem;
  font-family: Roboto, "Helvetica Neue", sans-serif}

mat-card-content > span:first-child{
  font-weight: 500;
}
agm-map {
  height: 100%;
  width: 100%;
}

.sidebar{width: 4rem;}
.content{width: 100%}
