<mat-sidenav-container class="h-100">
  <mat-sidenav #drawer
               class="sidenav border-right p-3"
               position="start"
               mode="over">
    <div class="side-wrapper h-100">
      <div class="d-flex flex-column justify-content-center align-items-center p-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input type="text" class="form-control" placeholder="..." aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button mat-flat-button class="btn btn-dark">search</button>
      </div>
      <mat-card (click)="openDialog()">
        <div class="d-flex">
          <img mat-card-sm-image
               class="profile-avatar mr-2"
               src="https://api.adorable.io/avatars/285/abott@adorable.png">
          <mat-card-content class="d-flex flex-column w-100 mb-0 justify-content-around">
            <span class="text-capitalize align-self-end">logged in as</span>
            <span class="text-muted align-self-end">avatar/name</span>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </mat-sidenav>
  <section class="d-flex h-100 justify-content-center align-items-center text-muted">
    <div (dblclick)="drawer.toggle()" class="sidebar h-100 p-1">
<!--      <p class="title">nothing to show<br><span class="text-muted">{{win}}</span></p>-->
    </div>
    <div #map class="content h-100 p-1">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </section>
</mat-sidenav-container>
