h3{
    margin: 5% 0;
}

.card{
    margin-bottom: 3%;

}

.card:hover{
    background-color: #007bff;
}

.card:hover a{
    color: white;
}

.card a:hover{
    color: white;
    text-decoration: none;
}

.row{
  min-height: 100px;
  overflow-y: scroll;
}
