<div class="d-flex flex-column h-100">
  <div class="col-md-12 px-1 h-100 d-flex justify-content-between">
    <div class="h-100 w-100 d-flex flex-column justify-content-between">
      <span class="t-size mx-2 pb-2 pt-2 text-center justify-content-around">flow</span>
      <div class="d-flex justify-content-center">
        <div class="btn-group w-75 d-flex flex-column align-items-center">
          <div class="form-group w-50 d-flex flex-column justify-content-between align-items-center">
            <input class="form-control mb-2" placeholder="username">
            <input class="form-control" type="password" placeholder="password">
            <button mat-stroked-button class="btn btn-secondary mt-4 w-100">login</button>
          </div>
        </div>
      </div>
      <div class="btn-grp h-auto d-flex flex-column justify-content-between align-items-center">
        <div class="btn-group d-flex" role="group" aria-label="Basic example">
          <button type="button" class="branding btn border"></button>
          <button mat-stroked-button
                  class="google btn text-muted text-capitalize">
            Getting in with google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
